<div class="card border-warning">  
    <h3 class="card-header">
         Latest Comments
    </h3>
    <div class="card-body">
        <ul class="media-list">
            {{#each sidebar.comments}}
            <li class="media mb-3">
                <a class="float-left" href="#">
                    <img class="media rounded-circle mr-3"
                     src="https://www.gravatar.com/avatar/{{gravatar}}?d=retro&s=45"></a>
                <div class="media-body">
                    {{ name }}<br>
                    <strong class="text">{{ comment
                     }}</strong> <small class="text-muted">{{
                         timeago timestamp }}</small>   
                </div>
            </li>
            {{/each}}
            </li>
        </ul>
    </div>
</div>