<div class="card">  
    <h3 class="card-header">
         Latest Comments
    </h3>
    <div class="card-body">
        <ul class="media-list">
            {{#each sidebar.comments}}
            <li class="media">
                <a class="float-left" href="/images/{{ image.uniqueId }}">
                </a>
                <div class="media-body">
                    {{comment}}<br/>
                    <strong class="media-heading">
                        {{name}}</strong> <small class="text-muted">
                        {{timeago timestamp }}</small>
                    </div>
            </li>
            {{/each}}
            </li>
        </ul>
    </div>
</div>